{% extends "base.html" %}
{% load i18n %}
{% block title %} {%trans "Login"%}  {% endblock %}

{% block content %}

<style>
form{-khtml-border-radius:11px;-khtml-box-shadow:rgba(200,200,200,1) 0 4px 18px;-moz-border-radius:11px;-moz-box-shadow:rgba(200,200,200,1) 0 4px 18px;-webkit-border-radius:11px;-webkit-box-shadow:rgba(200,200,200,1) 0 4px 18px;border:1px solid #E5E5E5;border-radius:5px;box-shadow:rgba(200,200,20);padding:16px 50px 20px 30px}
#button{-moz-border-radius:3px;background:#333;border-color:#333;border-radius:3px;color:#FFF;font-weight:700;height:30px;text-shadow:rgba(0,0,0,0.3) 0 -1px 0;width:80px}
#id_username,#id_password{-moz-border-radius:3px;border:1px solid #bbb;border-radius:3px;font-size:24px;margin-bottom:16px;padding:3px;width:200px}
label{display:block;font-family:Arial;font-size:14px;font-weight:700}
.tips{margin-bottom:10px}
.errorlist{color:red;margin-bottom:5px;width:230px}
</style>

<div style="float:left;width:400px;height:400px;background:url({{ STATIC_URL}}images/login.jpg);"></div>
<div style="float:left;">
<br/>
<h1><img src="{{ STATIC_URL }}images/login_title.png"/></h1><p class="clearfix"></p><br/>

<form action="{% url olgg_login %}" method="post">	
{% csrf_token %}
<div class="tips"></div>
	{{ form.as_p }}
	<input type="hidden" name="next" value="{{ next }}" />
	<input id="button" type="submit" value="Login" />
</form>
<ul style="margin:20px 0px 0px 10px">
	<li><a href="{% url olgg_register %}">加入我们, 创建一个新账号!</a></li>
	<li><a href="#">找回密码</a></li>
	<br/>
</ul>
</div>

{% endblock %}

{% block js %}
<script>
	if (window.location.search == '?next=/') $(".tips").html('<span style="color:#7BCA1C">注册成功！请进行登陆，请注意用户名是大小写敏感的</span>');
	else if (window.location.search != '') $(".tips").html('<span style="color:red">您需要先登陆</span>');
</script>
{% endblock %}