{% extends "base.html" %}
{% block title %} 用户登录  {% endblock %}

{% block content %}

<style>
form {
margin-left: 8px;
padding: 16px 50px 10px 16px;
font-weight: normal;
-moz-border-radius: 11px;
-khtml-border-radius: 11px;
-webkit-border-radius: 11px;
border-radius: 5px;
background: white;
border: 1px solid #E5E5E5;
-moz-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
-webkit-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
-khtml-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
box-shadow: rgba(200, 200, 20);
}


input { margin:10px;}
#button { border-color: #333;
font-weight: bold;
color: white;
background: #333;
text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
border-radius:3px;
-moz-border-radius:3px;
width:80px;
height:30px;
}
label { padding-left:10px;font-family:Arial;font-size:14px; display:block; font-weight:bold;}
#id_username ,#id_password{font-size: 24px;
width: 200px;
padding: 3px;
margin-top: 2px;
margin-right: 6px;
margin-bottom: 16px;
border: 1px solid #C6C6C6;
background: #fff;
border-radius:3px;
-moz-border-radius:3px;
}
.errorlist{color:#ff0000}
</style>
<div style="float:left;width:400px;height:400px;background:url({{ STATIC_URL}}images/login.jpg);"></div>
<div style="float:left;">
<br/>
<h1><img src="{{ STATIC_URL }}images/login_title.png"/></h1><p class="clearfix"></p><br/>

<form action="{% url olgg_login %}" method="post">
	
{% csrf_token %}
	{{ form.as_p }}
	<input type="hidden" name="next" value="{{ next }}" />
	<input id="button" type="submit" value="Login" />
</form>
<ul style="margin:20px 0px 0px 10px">
	<li><a href="{% url olgg_register %}">加入我们, 创建一个新账号!</a></li>
	<li><a href="#">找回密码</a></li>
	<br/>
</ul>
</div>

{% endblock %}