{% extends "base.html" %}
{% load i18n gravatar%}
{% block title %} 我的主页  {% endblock %}

{% block content %}
<style>
.user_level {padding:15px 0px;}
.user_level li{margin:8px 0px;}
.user_level label {width:50px;float:left;}
.profile_ul { border-bottom:1px dashed #7BCA1C;padding:15px 0px;}
.profile_ul li {margin:8px 0px;}
.profile_ul label {width:50px;float:left;}
.colorTip{left:50%;top:-30px;}
#catact_form {display:none;}
</style>
<div  class="layout1"> 
  <!--START: sidebar -->
  <div class="sidebar3">
   <div class="userdata">
    <div class="user-avatar"> <span class="avatar"><img src="{% gravatar_url user.email %}" width="100" height="100" alt="text"></span>
     <p>{{user.username}}</p>
    </div>
    <div class="user_level">
     <h4>经验</h4>
     <ul>
      <li><label>战斗力</label><div id="user_level_zdl"></div></li>
      <li><label>智力</label><div id="user_level_zl"></div></li>
      <li><label>魅力</label><div id="user_level_ml"></div></li>
     </ul>
    </div>
    <div class="user_level">
     <h4>称号</h4>
     <ul>
      <li>战斗力只有5</li>
     </ul>
    </div>
   </div>
  </div>
  <!--END: sidebar --> 
  <!--START: content -->
    <div class="con-r3">
        <ul class="profile_ul event">
            <h4>最新动态</h4>
            {% if events %}
            {% for e in events %}
            <li><label style="width:100px;">{{e.created|date:'m-d H:m'}}</label> 创建了 {{e.event}}</li>
            {% endfor %}
            {% else %}
            <li>当前没有动态</li>
            {% endif %}
        </ul>
        <ul id="catact" class="profile_ul">
            <h4>联络信息 {% if request.user.id == user.id %}<a href="#" onclick="editProfile()">EDIT</a> {% endif %}</h4> 
            <li><label>Email</label>{{user.email|default:'-'}}</li>
            <li><label>QQ</label>{{profile.qq|default:'-'}}</li>
            <li><label>MSN</label>{{profile.msn|default:'-'}}</li>
            <li><label>Gtalk</label>{{profile.gtalk|default:'-'}}</li>
            <li><label>主页</label>{{profile.website|default:'http://'}}</li>
        </ul>
        <ul id="catact_form" class="profile_ul">
            <h4>联络信息</h4>
            <form method="POST" action="{% url olgg_profile request.user.id %}">{% csrf_token %}
            {{ form.as_p}}
            <input type="submit" value="SUBMIT"/>
            </form>
        </ul>
        <ul class="profile_ul">
            <h4>拥有角色</h4>
            {% if stories %}
            {% for role in roles %}
            <li><a href="{% url show_role role.id %}">{{role.name}}</a></li>
            {% endfor %}
            {% else %}
            <li>还没有创建角色</li>
            {% endif %}
        </ul>
        <ul class="profile_ul">
            <h4>故事场景</h4>
            {% if stories %}
            {% for story in stories %}
            <li><a href={%url show_story story.id%}>{{story.title}}</a></li>
            {% endfor %}
            {% else %}
            <li>还没有开始制作故事</li>
            {% endif %}
        </ul>
  </div>
  <!--END: content -->
  <div class="clear"></div>
 </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/spark.js"></script>
<script>	
$(function(){
    var option = {
            width:'150px',
            height:'15px',
            type:'bullet',
            targetColor:'#7BCA1C',
            performanceColor: '#7BCA1C',
            rangeColors : ['#fcfcfc'],
        };
    $('#user_level_zdl').sparkline([5,5,100],option);
    $('#user_level_zl').sparkline([0,0,100],option);
    $('#user_level_ml').sparkline([0,0,100],option);
});

function editProfile(){
    $('#catact').hide();
    $('#catact_form').show();
}

</script>
{% endblock %}
