{% extends "base.html" %}
{% block title %} 用户注册  {% endblock %}

{% block content %}

<style>
form{-khtml-border-radius:11px;-khtml-box-shadow:rgba(200,200,200,1) 0 4px 18px;-moz-border-radius:11px;-moz-box-shadow:rgba(200,200,200,1) 0 4px 18px;-webkit-border-radius:11px;-webkit-box-shadow:rgba(200,200,200,1) 0 4px 18px;border:1px solid #E5E5E5;border-radius:5px;box-shadow:rgba(200,200,20);padding:16px 50px 10px 5px}
input{-moz-border-radius:3px;background:#fff;border:1px solid #C6C6C6;border-radius:3px;font-size:24px;margin:2px 6px 16px 15px;padding:3px;width:200px}
label{color:red;float:right;font-family:Tahoma;font-size:12px;height:20px;padding-top:14px}
.error li{color:red}
#button{-moz-border-radius:4px;background:#333;border-color:#333;border-radius:4px;color:#FFF;font-size:14px;font-weight:700;height:30px;text-shadow:rgba(0,0,0,0.3) 0 -1px 0;width:100px}
#registerForm li span{float:left;font-family:Arial;font-size:14px;font-weight:700;margin-left:18px;padding-top:5px;width:80px}
</style>

<div style="float:left;width:400px;height:400px;background:url({{ STATIC_URL}}images/login.jpg);"></div>
<div style="float:left;">
<br/>
<h1><img src="{{ STATIC_URL }}images/register_title.png"/></h1><p class="clearfix"></p><br/>
<form id="registerForm" action="{% url olgg_register %}" method="post">
{% csrf_token %}
	<ul>
		<li><span>Username</span><input name="username" type="text" class="required"/> </li>
		<li><span>Password</span><input name="password" type="password" class="required"/> </li>
		<li><span>Confirm<br/>Password</span><input name="confirm-password" type="password" class="required"/> </li>
		<li><span>E-mail</span><input name="email" class="required"/> </li>
		<li><input id="button" type="submit" value="Register"/></li>
	</ul>
	
</form>
</div>
<div  class="error"></div>
{% endblock %}

{% block js %}
<script>
	
	$(document).ready(function(){
		$("#registerForm").validate({
			messages :{
				username : {minlength:'用户名太短'},
				password : {minlength:'密码太短'}
			},
			rules: {
				username: {
					minlength : 4
				},
				password: {
					minlength : 6
				}
			}
		});
	});
		
</script>
{% endblock %}