<!doctype html>
<html>
<head>
<title>${pageTitle} - Kanoya</title>
<link rel="stylesheet" href="/css/960.css">
<link rel="stylesheet/less" type="text/css" href="/css/style.less">
<link rel="stylesheet/less" type="text/css" href="/css/bootstrap/bootstrap.less">
<script type="text/javascript" src="/js/less-1.1.5.min.js"></script>
<script type="text/javascript" src="/js/knockout-2.0.0.debug.js"></script>
<script type="text/javascript" src="/js/jquery-min-1.6.1.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap-alerts.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap-modal.js"></script>
</head>
<body>
    <div class="topbar" data-scrollspy="scrollspy">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="#">Onlinegalgame</a>
          <ul class="nav">
            <li class=""><a href="/">首页</a></li>
            <li class=""><a href="#" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true">ABOUT</a></li>
            <li class=""><a href="#">DOTCLOUD</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li><a href="{%url login %}">登录</a></li>
            <li><a href="{%url register %}">注册</a></li>
          </ul>
        </div>
      </div>
    </div>
    {{html body}}

</body>
</html>