{% extends "mobile/base.html" %}

{% block content %}
<div id="home">
    <div class="toolbar">
        <h1>查询结果</h1>
    </div>
    <ul>
        <li><a href="{%url m_show_story 5 %}" target="_blank"><h4>《故事介绍》</h4></a><span>新客人你好，现在由我来介绍这个Seal的情况。</span></li>
        <li><h4>《1.入学式》</h4><span>路人和男主角的言语。</span></li>
        <li><h4>《2.自我介绍》</h4><span>小咬的自我介绍。</span></li>
        <li><h4>《3.屋顶》</h4><span>楼顶的偶遇。</span></li>
        <li><h4>《早晨》</h4><span>没有文字介绍。</span></li>
        <li><h4>《test》</h4><span>test role。</span></li>
        <li><h4>《title》</h4><span>sdsd。</span></li>
    </ul>
</div>
{% endblock %}

{% block js %}
<script>	
var jQT = $.jQTouch({
    icon: 'icon.png'
});
</script>
{% endblock %}