{{layout "layout"}}


        <div class="alert-message success fade in" data-alert="alert" style="display:none;">
            <a class="close" href="#">×</a>
            <p><strong>Success!</strong> You bought some good things ...</p>
          </div>

<div id="content" class="container">
<form>
    <fieldset>
        <div class="clearfix">
            <label for="xlInput">登录</label>
            <div class="input">
                  <input class="span3" id="xlInput" name="xlInput" size="10" type="text" />
            </div>
        </div><!-- /clearfix -->
        <div class="clearfix">
            <label for="xlInput">注册</label>
                <div class="input">
                    <input class="span3" id="xlInput" name="xlInput" size="10" type="text" />
                </div>
            </div><!-- /clearfix -->
        <div class="clearfix"><div class="input"><input type="submit" class="btn success" value="登录" /></div></div>
</form>
</div>


          <div id="modal-from-dom" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
              <h3>Congratulation!</h3>
            </div>
            <div class="modal-body">
              <p>You click a hidden button (￣▽￣)~… </p>
            </div>
            <div class="modal-footer">
              <a href="http://dmyz.org/" class="btn primary" target="_blank">Dmyz</a>
              <a href="http://onlinegalgame.com/" class="btn primary" target="_blank">OnlineGalgame</a>
            </div>
          </div>
<p data-bind="text: testItem" onclick="testItem()"></p>

<script type="text/javascript">
function testItem(){
    cartViewModel.testItem(2);
    cartViewModel.cartItems()[0].count(3)
}
var Cart = {}

Cart.formatCurrency = function(value) {
    return "$" + value.toFixed(2);
}

Cart.buy = function(){
    console.log(cartViewModel.cartItems());
    $.ajax({
        type : 'POST',
        data : {"cartItems" : cartViewModel.cartItems},
        statusCode : {
            200 : function(response){
                alert('test');
            }
        }
    })
    $(".alert-message").fadeIn(1000).alert()
}

var cartItem = {
    _id : ko.observable(),
    imgSrc : ko.observable(),
    id : ko.observable(),
    name :  ko.observable(),
    price :  ko.observable(),
    count : ko.observable(1)
}

var cartViewModel =  {
    testItem : ko.observable(1),
    shopItems : {{html shopItems}},
    cartItems : ko.observableArray([]),
    addToCart : function(){
        //$("#"+this.id).animate({opacity : 0.5 });
        
        var _id = this._id;
        cartItem.price = 15;
   

        cartViewModel.cartItems.push(cartItem);
        /*
        for (i in cartViewModel.shopItems ){
            var item = cartViewModel.shopItems[i];
            item.count = 1;
            if (item._id == _id) {
                if (cartViewModel.cartItems.indexOf(item) < 0 ){
                    cartViewModel.cartItems.push(item);
                } else {
                    var i = cartViewModel.cartItems.indexOf(item);
                    cartViewModel.cartItems()[i].count = 1;
                    console.log(cartViewModel.cartItems()[i]);
                    //var input = $("#drop_zone ul").children("li").eq(i).children("input");
                    //input.val(input.val()/1 + 1);
                }  
            }
        } 
        */  
    },
    showCartTitle : ko.observable(true)
}    

var Drag = {};

Drag.dragStart = function(event){
    event.dataTransfer.setData ("Text", event.srcElement.id);
}

Drag.drop = function(event){
    var _id = event.dataTransfer.getData ("Text");
    // TODO : Bugs in Firefox 8
    /**
    for (i in cartViewModel.shopItems ){
        var item = cartViewModel.shopItems[i];
        if (item._id == _id) cartViewModel.cartItems.push(item);
    }
    $("#drop_zone").attr('style','opacity:1');
    **/
    return false
}

Drag.dragOver = function(e){
    $("#drop_zone").attr('style','opacity:0.5');
    e.stopPropagation();
    e.preventDefault();
    return false
}

Drag.dragLeave = function(e){
    $("#drop_zone").attr('style','opacity:1');
    return false
}

    /*
    var cartViewModel = {
        cartName: '${pageTitle}',
    };
    */
ko.applyBindings(cartViewModel);

$(".content img").attr('draggable','true').attr('ondragstart',"new Drag.dragStart(event)");

</script>