{{layout "layout"}}

     
<!--div id="breadcrumb" class="span16">
  <ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider">/</span></li>
    <li><a href="#">Middle page</a> <span class="divider">/</span></li>
    <li><a href="#">Another one</a> <span class="divider">/</span></li>
    <li class="active">You are here</li>
  </ul>
</div-->
<div id="content" class="container">
  <div class="row">
    <div class="span6">
        <form>
            <fieldset>
              <legend>创建一个新角色</legend>
            </fieldset>
                <div class="clearfix">
                    <label for="name">角色名字</label>
                    <div class="input">
                          <input class="span3" id="id_name" name="name" size="10" type="text" />
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                  <label for="rolepos">站位选择</label>
                  <div class="input">
                    <ul class="inputs-list">
                    {{each(i, pos) rolePos}} 
                      <li>
                        <label>
                          <input type="radio" onclick="rolePos=this.value;changePos(rolePos)" name="rolepos" value="${i+1}"/>
                          <span>${pos}</span>
                        </label>
                      </li>
                    {{/each}}
                    </ul>
                  </div>
                </div>
                <div class="clearfix">
                  <label for="cloth">服装</label>
                  <div class="input">
                    <select style="width:50px;" name="clothType" id="id_clothType">
                      <option value="unusual">特殊</option>
                      <option value="schooluniform">校服</option>
                    </select>
                    <select class="small" name="cloth" id="id_cloth" onchange="changeRole(this.name,this.value,rolePos)">
                      <option value="1">未选择</option>
                    </select>
                  </div>
                </div>
                <div class="clearfix"><div class="input">
                  <input type="submit" class="btn success" value="创建" />
                  &nbsp;&nbsp;<a href="/roles/create" >自己上传图片 >></a>
                </div></div>
        </form>
    </div>
    <div class="span10">
      <div id="story" style="background:url('/images/mapback.jpg');">
        <div id="hair"></div>
        <div id="eye"></div>
        <div id="face"></div>
        <div id="cloth"></div>
        <div id="dialog"></div>
        <div id="role_image"></div>
      </div>
    </div>
  </div>
</div>

          <div id="modal-from-dom" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
              <h3>Congratulation!</h3>
            </div>
            <div class="modal-body">
              <p>You click a hidden button (￣▽￣)~… </p>
            </div>
            <div class="modal-footer">
              <a href="http://dmyz.org/" class="btn primary" target="_blank">Dmyz</a>
              <a href="http://onlinegalgame.com/" class="btn primary" target="_blank">OnlineGalgame</a>
            </div>
          </div>

<script type="text/javascript">
var rolePos = 1; //初始站位
var roleDom = ['eye','face','hair','cloth'];

$(document).ready(function (){
  $("a[rel=popover]").popover({offset: 10}).click(function(e){e.preventDefault()});
  
  
  appendCloth('unusual');
  $("#id_clothType").bind('change',function(){
    var type = this.value;
    appendCloth(type);
  })
  
  changePos(rolePos);
});

function appendCloth(type){
  var clothType = {{html clothType}};
  $("#id_cloth").children(':not(:eq(0))').remove();
  for (i in clothType[type]){
    //console.log(clothType[type][i]);
    for (n in clothType[type][i]){
      $("#id_cloth").append('<option value="'+n+'">'+clothType[type][i][n]+'</option>');
    }
  }
}

function changePos(p){
    if (typeof($("#cloth").attr('style')) != 'undefined'){
        //在修改站位时保存原来选择的衣服和头发
        var c = $("#cloth").attr('style').split('.gif')[0].split('/')[4];
        var h = $("#hair").attr('style').split('.gif')[0].split('/')[4];
        $("#cloth").attr("style","background:url('/images/role/cloth/"+c+"/"+p+".gif')");
        $("#hair").attr("style","background:url('/images/role/hair/"+h+"/"+p+".gif')");
        $("#face").attr("style","background:url('/images/role/face/1/"+p+".gif')");
        $("#eye").attr("style","background:url('/images/role/eye/1/"+p+".gif')");
    }
    else{
        for (var i in roleDom){
            $("#"+roleDom[i]).attr("style","background:url('/images/role/"+(roleDom[i])+"/1/"+p+".gif')");
        }
    }
}

function changeRole(name, value, pos){
    $("#"+name).attr("style","background:url('/images/role/"+name+"/"+value+"/"+pos+".gif')");
}
</script>