body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em { border: 0 none; margin: 0; padding: 0; }
body {
	color:#666;
}

#header h2 a{
    border-bottom: 1px solid #333;
    color: #222;
    display:block;
    text-align:center;
    text-decoration:none;
    padding:10px 0;
    text-shadow:0px 1px 1px #fff;
    background:-webkit-gradient(linear, left top, left bottom,
                                from(#fcfcfc), to(#ccc));
}

#content ul li {
    border-bottom:1px solid #333;
    padding:5px 10px;
}

#content ul li a{
    text-decoration:none;
    color:#666;
}

#content ul li span{
    font-size:12px;
}

#title h4 a{
    border-bottom: 1px solid #333;
    color: #fcfcfc;
    display:block;
    text-decoration:none;
    padding:2px 5px;
    text-shadow:0px 1px 1px #fff;
    background:-webkit-gradient(linear, left top, left bottom,
                                from(#ccc), to(#555));
}