/*1.1public style*/
body {
 font-family:  Verdana, Helvetica, sans-serif,Arial;
 color: #838181;
 font-size: 12px;
 background:#fcfcfc;
 height:100%;
}
html { height:100%;}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em { border: 0 none; margin: 0; padding: 0; }
h1 { float: left; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0 none; }
ul, ol, li { list-style: none; }
a { color: #7BCA1C; text-decoration: none; }
.con { width: 960px; margin: 0 auto; text-align: left; }
/*a:link, a:visited {
 color: #838181;
 text-decoration: none;
}*/
a:hover { color: green; text-decoration: none; cursor: pointer; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */  
#wrapper { margin: 0 auto; text-align: left; width: 960px; padding-bottom:20px; min-height: 100%;}
.clear { clear: both; height: 0; overflow: hidden; }
/*1.1public style end*/

#step img {margin-right:50px; -moz-border-radius:5px;-webkit-border-radius:5px;	
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);}
#step p { height:30px; margin-top:5px;width: 260px;   /* -moz-transition:margin 1s; -webkit-transition:margin 1s; margin-right:60px; */ }
.follow {margin-top:20px;padding-top:10px; border-top:1px dashed #C6C6C6;}
.follow li {margin:3px 0px 0px 18px;}
.follow span {font-weight:bold; font-family:Times;font-size:14px;}
	.unlogin li{ height:80px; margin:15px 50px 0px 0px;width:400px; float:left; }
	.unlogin li h2 a{color:#333;}
	.unlogin li h2 a:hover{color:#7BCA1C;}
	.unlogin li p {margin-top:15px;}
	.unlogin img {float:left;margin-right:20px;}
.stepnum { color: #FFB83B; font-size:5em; font-family: Helvetica; font-weight: bold; font-style: italic;margin-right: 10px;}
.stepfont { font-size:2em; font-family: "Times New Roman"; font-weight: bold; color:#333}

/*1.2top style*/
#header { height: 70px; background:url(/static/images/header.png);}
	 #header h1 img {margin-top:15px;}

#header_menu { height: 35px; padding-right:20px; float: right;}
#header_menu li { float: left; display: inline; text-align: center; margin:15px 0px 0px 30px; font-size: 12px;}
#header_menu li a {line-height: 34px; padding:10px; text-shadow:1px 1px #ccc; color:#888}
#header_menu li a:hover {color:#7BCA1C}
.breadcrumb { color:#5090D7; font-size: 14px; font-family: Helvetica, sans-serif; float: right; }
.crumb2 {  padding:5px 10px; background:url(/static/images/bg_crumb.png) left bottom repeat-x; border:1px solid #e4e4e4; border-top:0; float:left; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; margin-bottom:10px; }
.crumb2 strong { font-weight:normal; }

.pagination {display:block;margin-top:30px;z-index:999;}
    .pagination a {background-color: #7BCA1C; color: #fcfcfc; padding: 3px 5px; }
/*1.2top style end*/
/*1.3main style*/
.top_pic { margin-bottom: 20px; width: 100%; background: #000; }
#footer .copyright { width: 960px; margin: 0 auto; text-align: left; }
/*1.3main style end*/
/*1.4footer style*/
#footer {padding: 15px 0 15px 0; background-color: #efefef; line-height: 20px; -webkit-box-shadow: 5px 5px 5px #c9c9c9; /* Safari */ border: 1px solid; border-color: #c9c9c9; }
#footer .footer-menu, #footer .footer-menu a { margin: 0px 8px; text-align:center; }

/* Delete
 .footer-border {
 height:10px;
 background: url(../images/fborder.jpg) repeat-x scroll center;
 }
 */
.footer img { margin-right: 20px; }
/*1.4footer style end*/
/* 2 list.html */

.top-pic { margin:10px}

.sidebar, .con-r { float: right; display: inline; }
.sidebar { width: 222px; padding: 20px 29px 0px 10px; }
.sidebar li { margin: 5px 60px 0px 0px; padding: 5px; }
.sidebar .title { width: 200px;  font-weight: bold; font-size: 14px; padding: 5px; margin-top: 20px; border-radius: 3px; border-bottom:1px solid #DDD!important; }
.search-bar { line-height: 30px; padding-bottom: 10px; }
.search-bar .t { border-radius:8px; padding:1px 4px; }
.search-bar * { vertical-align:middle; }
.con-r { width: 680px;  border-right:solid #ccc 1px }
.conr-title { height: 20px; line-height: 28px; margin: 20px 0 15px 0; font-size: 20px; -webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.25))); }
.conr-title h2 { font-size:18px; }
.page { padding: 0px 7px 20px; }
/* 2 list.html end*/

	
/* 3 Alert */
#popup_container{font-family:Arial, sans-serif;font-size:12px;min-width:300px;max-width:600px;background:#fcfcfc;border:solid 3px #ccc;color:#000;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#popup_title{font-size:14px;font-weight:700;text-align:center;line-height:1.75em;color:#666;background:#CCC url(/static/images/title.gif) top repeat-x;border:solid 1px #FFF;border-bottom:solid 1px #999;cursor:default;width:100%;margin:0;padding:0;}
#popup_content{background:16px 16px no-repeat url(/static/images/alert.gif);margin-top:2em;padding:1em 1.75em;}
#popup_content.alert{background-image:url(/static/images/alert.png);}
#popup_content.right{background-image:url(/static/images/right.png);}
#popup_content.confirm{background-image:url(/static/images/important.png);}
#popup_content.prompt{background-image:url(/static/images/help.gif);}
#popup_message{color:#333;margin-top:10px;padding-left:48px;}
#popup_panel{text-align:center;margin:1em 0 0 1em;}
#popup_prompt{margin:.5em 0;}
#popup_ok{-moz-border-radius:3px;background:#333;border-radius:3px;color:#FFF;height:20px;text-shadow:rgba(0,0,0,0.3) 0 -1px 0;width:40px;font-weight:700;border-color:#333;}
#popup_cancel{-moz-border-radius:3px;background:#333;border-radius:3px;color:#FFF;height:20px;text-shadow:rgba(0,0,0,0.3) 0 -1px 0;font-weight:700;border-color:#333;}


/* 4. Upload */
.uploadifyButton{background:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#FFF;font:12px Arial, Helvetica, sans-serif;text-align:center;width:110px;margin-top:5px;padding:8px 0;
	background:#789842;
	background:-moz-gradient(linear, left top, left bottom, from(#a9c644),to(#789842));
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#a9c644),to(#789842));
}
.uploadify:hover .uploadifyButton{background-color:gray;}
.uploadifyQueueItem{background-color:#F5F5F5;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font:11px Verdana, Geneva, sans-serif;margin-top:5px;max-width:350px;padding:10px;}
.uploadifyError{background-color:#FDE5DD!important;}
.uploadifyQueueItem .cancel{float:right;}
.uploadifyQueue .completed{background-color:#E5E5E5;}
.uploadifyProgress{background-color:#E5E5E5;margin-top:10px;width:100%;}
.uploadifyProgressBar{background-color:#09F;height:3px;width:1px;}


/* 5. Tips */
.colorTip{display:none;position:absolute;left:50%;top:-30px;background-color:#FFF;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-style:normal;line-height:1;text-decoration:none;text-align:center;text-shadow:0 0 1px #FFF;white-space:nowrap;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;padding:6px}
.pointyTip,.pointyTipShadow{border:6px solid transparent;bottom:-12px;height:0;left:50%;margin-left:-6px;position:absolute;width:0}
.pointyTipShadow{bottom:-14px;margin-left:-7px;border-width:7px;}
.colorTipContainer{position:relative;text-decoration:none!important;}
.white .pointyTip{border-top-color:#FFF;}
.white .pointyTipShadow{border-top-color:#ddd}
.white .colorTip{background-color:#FFF;border:1px solid #DDD;color:#555}
.black .pointyTip{border-top-color:#333}
.black .pointyTipShadow{border-top-color:#111}
.black .colorTip{background-color:#333;border:1px solid #111;color:#fcfcfc;text-shadow:none;}

/* 6. Profile */
/* layout1 */
.layout1 .sidebar3{width:200px;float:left;margin-top: 20px;}
.layout1 .con-r3{float:right;width:700px;margin-top: 20px;padding-left:30px;border-left:1px #ccc solid;}
.user-avatar{text-align:center;}
.user-avatar .avatar{width:100px;height:100px;}
.user-treasure{padding-bottom:20px;}
.user-treasure a{color:#3399ff;}
.user-treasure h3{font-weight:normal;font-size:12px;}
.user-treasure ul{background:#cccccc;padding:5px 0 0 5px;margin-right:15px;}
.user-treasure ul li{
 float:left;
 padding-right:5px;
 padding-bottom:5px;
}
.user-treasure ul li img{vertical-align:top;}
.user-treasure .view-all{padding-top:5px;}
.trademark{
 top:10px;
}
.trademark h3{font-weight:normal; font-size:12px;}
.trademark ul li{clear:both;}
.trademark ul label {
 color:white;
 -moz-border-radius:3px;
 -webkit-border-radius: 3px;
 background-color:#0099ff;
 border:1px solid white;
 float:left;
 clear:both;
 margin-top:4px;
 padding:2px 4px;
}
.trademark span{
 float:left;
 margin-top:6px;
 padding:2px 4px;
}
.add-commodity{padding-bottom:10px;}
.add-commodity .add-meta li{
 padding-bottom:5px;
}
.add-commodity li span{
 float:left;
 width:60px;
 padding-top:4px;
}
.add-commodity li.select-pic span{
 padding-top:12px;
 _width:63px;
}
.add-commodity li.select-pic{
 padding-top:1px;
}
.add-commodity li.select-pic a{
 float:left;
 margin-right:2px;
}
.add-commodity li.select-pic .selected,.add-commodity li.select-pic a:hover{
 border:1px solid #3399FF;
 margin-top:-1px;
 margin-left:-1px;
}
.add-commodity li.select-pic img{
 vertical-align:top;
 display:block;
}
/* product detail */
.product-detail .detail-item{padding:10px 0; background:url(../images/bg_line2.gif) 490px top repeat-y;border-top:1px solid #d7d7d7;}
.product-detail .gallery{
	 width:480px;
  float:left;
}
.product-detail .gallery .wrap{
 position:relative;
 padding-left:60px;
 height:1%;
}
.product-detail .mini-avatar{
 position:absolute;
 left:0;
 top:0;
 width:60px;
 overflow:hidden;
 text-align:center;
}
.ask-question{
 clear:both;
 padding:5px 0;
}
.ask-question p{
 padding-bottom:5px;
}
.ask-question .question-fields{
 width:98%;
}
.product-detail .valuation{
 width:200px;
 float:right;
}
.valuation .list{
 padding-bottom:10px;
}
.valuation .list li{
 background:url(../images/icon_pointer_black.gif) left 5px no-repeat;
 padding-left:10px;
 }
.valuation .list li p{
 margin-bottom:1em;
}
.valuation .evaluate-list li{
 padding-bottom:5px;
}
.valuation .evaluate-list li strong{
 color:#5a99ff;
}
.valuation .evaluate-list li .summarize{
 color:black;
}
/*star*/
.stars{
 display:inline-block;
 +display:inline;
 zoom:1;
 width:60px;
 height:12px;
 background:url(../images/dpForm_1_0_0.png) left top no-repeat;
}
.star-value-3d0{
 background-position:left top;
}
.star-value-3d1{
 background-position:left -20px;
}
.star-value-3d2{
 background-position:left -40px;
}
.star-value-3d3{
 background-position:left -60px;
}
.star-value-3d4{
 background-position:left -80px;
}
.star-value-3d5{
 background-position:left -100px;
}