<!--{subtemplate common/header}-->

<link type="text/css" rel="stylesheet" href="/static/css/account.css?{VERHASH}"/>

<div style="float:left;width:400px;height:400px;background:url(/static/img/login.jpg);"></div>
<div style="float:left;">
<br/>
<h1><img src="/static/img/register_title.png"/></h1><p class="clearfix"></p><br/>
<form action="account.php?mod=password&do=submit" method="post">
  <div style='display:none'>
	<input type='hidden' name='formhash' value='{FORMHASH}' />
	<input type='hidden' name='type' value='reset' />
  </div>
  <fieldset>
    <p>
    <label for="id_username">用户名</label> 
    <input id="id_username" type="text" class="required" name="username" maxlength="30" />
    </p>
    <p>
    <label for="id_email">电子邮件地址</label> 
    <input id="id_email" type="text" class="required" name="email" maxlength="75" />
    </p>
  </fieldset>
  <input type="submit" class="btn btn-primary btn-large" value="重设密码" />
</form>
</div>
<!--{subtemplate common/footer}-->