<!--{subtemplate common/header}-->

<link type="text/css" rel="stylesheet" href="/static/css/account.css?{VERHASH}"/>

<div style="float:left;width:400px;height:400px;background:url(/static/img/login.jpg);"></div>
<div style="float:left;">
<br/>
<h1><img src="/static/img/register_title.png"/></h1><p class="clearfix"></p><br/>
<form action="account.php?mod=password&do=submit" method="post">
  <div style='display:none'>
	<input type='hidden' name='formhash' value='{FORMHASH}' />
	<input type='hidden' name='type' value='change' />
  </div>
  <fieldset>
    <p>
		<label for="id_oldpassword">原始密码</label> 
		<input id="id_oldpassword" type="password" class="required" name="oldpassword" />
    </p>
    <p>
		<label for="id_password1">新密码</label> 
		<input id="id_password1" type="password" class="required" name="password1" />
    </p>
	<p>
		<label for="id_password2">重复新密码</label> 
		<input id="id_password2" type="password" class="required" name="password2" />
    </p>
  </fieldset>
  <input type="submit" class="btn btn-primary btn-large" value="修改密码" />
</form>
</div>
<!--{subtemplate common/footer}-->