<!--{subtemplate common/header}-->

<link type="text/css" rel="stylesheet" href="/static/css/account.css?{VERHASH}"/>

<div style="float:left;width:400px;height:400px;background:url(/static/img/login.jpg);"></div>
<div style="float:left;">
<br/>
<h1><img src="/static/img/register_title.png"/></h1><p class="clearfix"></p><br/>
<form action="account.php?mod=signin&do=login" method="post">
	<div style='display:none'><input type='hidden' name='formhash' value='{FORMHASH}' /></div>
	<fieldset>
		<p>
			<label for="id_identification">用户名或邮件地址</label> 
			<input id="id_identification" type="text" class="required" name="identification" maxlength="75" />
		</p>
		<p>
			<label for="id_password">密码</label> 
			<input id="id_password" type="password" class="required" name="password" />
		</p>
		<p class="checkbox">
			<label for="id_remember_me"><input type="checkbox" name="remember_me" id="id_remember_me" /> 一个月内不用再登录</label>
		</p>
	</fieldset>
	<input type="submit" class="btn btn-primary btn-large" value="登录" />
</form>
<ul class="accounts_action">
	<li><a href="account.php?mod=signup">加入我们, 创建一个新账号!</a></li>
	<li><a href="account.php?mod=password&do=reset" title="忘记密码了？">忘记密码了？</a></li>
	<br/>
</ul>
</div>
<!--{subtemplate common/footer}-->