
<div id="content" class="container">
<form>
    <fieldset>
        <div class="clearfix">
            <label for="xlInput">登录</label>
            <div class="input">
                  <input class="span3" id="xlInput" name="xlInput" size="10" type="text" />
            </div>
        </div><!-- /clearfix -->
        <div class="clearfix">
            <label for="xlInput">注册</label>
                <div class="input">
                    <input class="span3" id="xlInput" name="xlInput" size="10" type="text" />
                </div>
            </div><!-- /clearfix -->
        <div class="clearfix"><div class="input"><input type="submit" class="btn success" value="登录" /></div></div>
</form>
</div>