{% extends "role/role_base.html" %}
{% block title %}添加角色 {% endblock %}

{% block left-nav %}
 <!--START: left-nav -->
<div class="sidebar">
	<h2 class="title" >Basic Info</h2>
	<form id="role_form" action="{%url add_role %}" method="POST">
		{% csrf_token %}
	<ul>
		<li>
			名字:<br/><input type="text" name="rolename" id="rolename"/>
		</li>
		<li>
			性别:<br/>
			<input type="radio" name="gender" value="0">女
			<input type="radio" name="gender" value="1">男 
			<input type="radio" name="gender" value="2">？
		</li>
		<li>
			生日:<input type="date" id="birthday" name="birthday" min="1900-01-01" max="2199-12-31"/>
		</li>
		<li>
			简历: <textarea id="resume" name="resume" rows="8"></textarea>
			<input type="hidden" id="profile" name="profile" value="" />
			<p><input type="button" value="Submit" onclick="validator_role_from()" /></p>
		</li>
	</ul>
	</form>
	<h2 class="title" >Your roles</h2>
	<ul>
		{% for role in my_role_list %}
		<li></li>
		{% endfor %}
	</ul>
</div>
 <!--END: left-nav -->
{% endblock %}


{% block js %}
	<script>
	var role_dom = ['cloth', 'hair', 'face', 'eye'];
	
	var role_select = document.querySelectorAll('select');
	for (var i in role_select)
	{
		role_select[i].setAttribute("disabled","true");
	}	
	
	function validator_role_from()
	{
		var json = [];
		var profile = document.getElementById('profile');
		for (var i in role_dom)
		{
			
			json[i] = '"'+document.getElementById(role_dom[i]).getAttribute('style')+'"';
		}
		profile.value = json;
		document.getElementById('role_form').submit();
	}
	
	function change_role(name, value, pos)
	{
		var el = document.getElementById(name);
		el.setAttribute("style","background:url('{{ STATIC_URL }}role/"+name+"/"+value+"/"+pos+".gif')");
	}

	function change_pos(pos)
	{
        for (var i in role_dom)
		{
			var el = document.getElementById(role_dom[i]);
			el.setAttribute("style","background:url('{{ STATIC_URL }}role/"+(role_dom[i])+"/1/"+pos+".gif')");
		}
		for (var i in role_select)
		{
			role_select[i].removeAttribute("disabled");
		}
	}
	</script>
{% endblock %}