{% extends "role/role_base.html" %}
{% block title %}修改角色 {% endblock %}

{% block left-nav %}
<div class="sidebar">
	<h2 class="title" >Basic Info</h2>
	<form id="role_form" action="{%url edit_role role_id %}" method="POST">
		{% csrf_token %}
	<ul>
		<li>
			名字:<br/><input type="text" name="rolename" id="rolename" value="{{ role.name }}"/>
		</li>
		<li>性别:<br/>	
			<input type="radio" name="gender" value="0" {% if role.gender  == '0' %} checked="checked" {% endif %}>女
			<input type="radio" name="gender" value="1" {% if role.gender == '1' %} checked="checked" {% endif %}>男 
			<input type="radio" name="gender" value="2" {% if role.gender == '2' %} checked="checked" {% endif %}>？
		</li>
		<li>
			生日:<br/><input type="date" id="birthday" name="birthday" min="1900-01-01" max="2199-12-31" value="{{ role.birthday|safe}}"/>
		</li>
		<li>
			简历:<textarea id="resume" name="resume" rows="8" value="{{ role.resume }}">{{ role.resume}}</textarea>
			<input type="hidden" id="profile" name="profile" value="" value="{{ role.profile }}"/>
			<p><input type="button" value="Submit" onclick="validator_role_from()" /></p>
		</li>
	</form>
</div>

{% endblock %}


{% block js %}
	<script>
	var role_dom = ['cloth', 'hair', 'face', 'eye'];
		
	var role_profile = [{{ role.profile|safe}}];
	
	var pos = role_profile[0].split('.gif')[0].substr(-1);
	
	for (var i in role_dom)
	{
		var el = document.getElementById(role_dom[i]);
		el.setAttribute("style",role_profile[i]);
	}	
	
	function validator_role_from()
	{
		var json = [];
		var profile = document.getElementById('profile');
		for (var i in role_dom)
		{
			
			json[i] = '"'+document.getElementById(role_dom[i]).getAttribute('style')+'"';
		}
		profile.value = json;
		document.getElementById('role_form').submit();
	}
	
	function change_role(name, value, pos)
	{
		var el = document.getElementById(name);
		el.setAttribute("style","background:url('{{ STATIC_URL }}role/"+name+"/"+value+"/"+pos+".gif')");
	}

	function change_pos(pos)
	{
        for (var i in role_dom)
		{
			var el = document.getElementById(role_dom[i]);
			el.setAttribute("style","background:url('{{ STATIC_URL }}role/"+(role_dom[i])+"/1/"+pos+".gif')");
		}
	}
	</script>
{% endblock %}

