{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="user-scalable=no, width=device-width" />
<title>OnlineGalgame - 在线游戏制作平台</title>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}jqtouch/jqtouch.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}themes/jqt/theme.css"/>
</head>
<body>
{% block content %}{% endblock %}

<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}jqtouch/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}jqtouch/jqtouch.js"></script>
{% block js %}{% endblock %}

</body>
</html>