{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans "All Story" %}  {% endblock %}

{% block content %}
<style>
	.category {height:54px;}
	.right {margin-left:20px;}
	.story_list li h4 { font-size:14px; color:#ffb83b; text-align:center; }
	.story_list li { display: inline-block; vertical-align: top; min-height:100px; zoom: 1;  *display:inline;
	_height:160px; width:90%; margin-left:20px 0px 0px 20px; padding:15px 0 10px 0; text-align:left; border-bottom:1px dashed #c6c6c6;}
	.story_list li img { border :1px solid #D0D0D0;}
	.story_list li .summary { text-indent:2em; height:100px; overflow:hidden;text-overflow: ellipsis;}
</style>
 <!--START: left-nav -->
<div class="con-r right" style="width:450px;border:0px;">
	<div class="category"></div>
	<div class="story_list">
		<ul>
		{% for story in story_list.object_list %}
			{% if forloop.counter|divisibleby:2 %}
			<li>
				<div style="float:left;margin-right:20px"><a href="{%url show_story story.id %}"><img src="/{{ story.image }}" width="230" height="125" alt="Good info"/></a><h4>{{ story.title }}</h4></div>
				<p><a href="#">{{story.author}}</a> 的 <a href="#">第 {{story.sort}} 个场景</a> </p>
				<p>创建日期： {{story.cdate|safe}}</p><br/>
				<p class="summary"> {{ story.summary }} </p>
			</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</div>
 <!--END: left-nav -->

<div class="con-r" style="width:450px;">
	<div class="conr-title">
		<div class="search-bar">
				<a href="{% url add_story %}"><img src="{{STATIC_URL}}images/btn_createstory.png"/></a>
			<input name="" type="text" class="t">
			<input name="" type="image" src="{{ STATIC_URL }}images/icon/search.png">
		</div>
	</div>
	<div class="page">
		<div class="story_list">
			<ul>
			{% for story in story_list.object_list %}
				{% if not forloop.counter|divisibleby:2 %}
				<li>
					<div style="float:left;margin-right:20px"><a href="{%url show_story story.id %}"><img src="/{{ story.image }}" width="230" height="125" alt="Good info"/></a><h4>{{ story.title }}</h4></div>
					<p><a href="#">{{story.author}}</a> 的 <a href="#">第 {{story.sort}} 个场景</a> </p>
					<p>创建日期： {{story.cdate|safe}}</p><br/>
					<p class="summary"> {{ story.summary }} </p>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="pagination">
	    <span class="step-links">
	        {% if story_list.has_previous %}
	            <a href="?page={{ story_list.previous_page_number }}">previous</a>
	        {% endif %}
	
	        <span class="current">
	            Page {{ story_list.number }} of {{ story_list.paginator.num_pages }}.
	        </span>
	
	        {% if story_list.has_next %}
	            <a href="?page={{ story_list.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		
	});
</script>
{% endblock %}