<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %} - OnlineGalgame - 在线游戏制作平台</title>
<link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
{% block style %}{% endblock %}
</head>
<body>
    <div id="header">
        <ul>
            <li><a href="javascript:void(0)" onclick="showStoryFrom(event)">新建(New)</a>
                <div class="popup">
                    <form onsubmit="saveStory(this); return false;" action="/api/stories/">
                        <label>Name: <input name="name" type="text" /></label>
                        <label>Description: <textarea name="description"></textarea></label>
                        <input type="submit" value="Create" />
                    </form>
                </div>
            </li>
            <li><a href="{% url 'story_play' 1 %}">探索(Explorer)</a>
            </li>
            <li>分享(Share)
            </li>
            <li><a href="https://github.com/perchouli/onlinegalgame">关于(About)</a>
            </li>
        </ul>
    </div>
    {% block breadcrumb %}{% endblock %} 
    {% block content %}{% endblock %}

<script type="text/javascript" src="/static/js/react-with-addons-0.14.0-rc1.min.js"></script>
<script src="/static/js/main.js"></script>
{% block js %}{% endblock %}
<script type="text/javascript">
var showStoryFrom = function (e) {
    e.preventDefault();
    var DOMNode = e.currentTarget.parentNode.querySelector('.popup');
    DOMNode.style.display = DOMNode.style.display ? '' : 'block';
};

var saveStory = function (form) {
    var xhr = new XMLHttpRequest(),
        data = {
            name: form.querySelector('input[name="name"]').value,
            description: form.querySelector('textarea[name="description"]').value
        };

    xhr.onreadystatechange = function () {
        if (xhr.readyState != 4 || xhr.status != 200) return;
        var response = JSON.parse(xhr.responseText);
        location.href = '/stories/edit/' + response[0].id + '/';
    }
    xhr.open('POST', '/api/stories/');
    xhr.send(JSON.stringify(data));
};
</script>
</body>
</html>