<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %} - OnlineGalgame</title>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
</head>
<body>
<!--START: Header -->
<div id="header">
	<div class="con">
        <h1><a href="#"><img alt="Logo" src="{{ STATIC_URL }}images/logo_top.png"></a></h1>
        <ul id="header_menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="{% url role_list %}">Role</a>
            </li>
            <li>
                <a href="{% url story_list %}">Story</a>
            </li>
            <li>
                <a href="{% url olgg_login %}">Login</a>
            </li>
        </ul>
    </div>
</div>
<!--END: Header--> 
<!--START: Wrapper -->
<div id="wrapper"> 

	{% block content %}{% endblock %}

	<div class="clear"></div>
</div>
<!--END: wrapper--> 


<!--START: Footer-->
	<div id="footer">
	 <p class="footer-menu"><a href="#"> </a> | <a href="#"></a> | <a href="#"></a> | <a href="#"> </a>| <a href="#"></a>| <a href="#">FAQ</a></p>
	 <hr>
	 <div class="copyright"> <a href="http://www.onlinegalgame.com"><img style="float:right;margin-right:20px;" src="{{STATIC_URL}}images/logo_bottom.png" alt="ACG"></a>
			<p>2011 onlinegalgame.com. </p>
			<p>This website is owned by Perchouli Dmyz.org. </p>
		</div>
	</div>
<!--END: Footer-->
</body>
</html>