{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" /> 
<title>{% block title %}{% endblock %} - OnlineGalgame - 在线游戏制作平台</title>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/uniform.css"/>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24432560-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<!--START: Header -->
<div id="header">
	<div class="con">
        <h1 onclick="javascript:window.location.href ='/'"><img src="{{ STATIC_URL }}images/logo_top.png" alt="Logo" /></h1>
        <ul id="header_menu">
            <li><img src="{{STATIC_URL}}images/icon/home.png" alt="Home Icon" />
                <a href="/">{% trans "Home" %}</a>
            </li>
            <li>
                <a href="{% url role_list %}">{% trans "Role List" %}</a>
            </li>
            <li>
                <a href="{% url story_list %}">{% trans "All Story" %}</a>
            </li>
            <li>
                <a href="{% url djiki-page-view '图书馆'  %}">{% trans "Wiki" %}</a>
            </li>
            {% if user.is_authenticated %}
			<li><img src="{{STATIC_URL}}images/icon/ol_user.png" alt="User Icon"/>
                <a href="{% url olgg_logout %}">{% trans "Log out" %}</a>
			</li>
				{% else %}
			<li><img src="{{STATIC_URL}}images/icon/user.png" alt="User Icon"/>
				<a href="{% url olgg_login %}" style="color:red">{% trans "Log in" %}</a>
            </li>
			{% endif %}
        </ul>
    </div>
</div>
<!--END: Header--> 
<!--START: Wrapper -->
<div id="wrapper"> 
	{% block content %}{% endblock %}
	<div class="clear"></div>
</div>
<!--END: wrapper--> 

<!--START: Footer-->
	<div id="footer">
		<div class="copyright"> <a href="http://www.dmyz.org"><img style="float:right;margin-right:20px;" src="{{STATIC_URL}}images/logo_bottom.png" alt="Logo Bottom"/></a>
			<p>2011 <a href="/">onlinegalgame.com.</a> </p>
			<p>This website is owned by <a href="#">OnlineGalgame Dev </a>  </p>
		</div>
	</div>
<!--END: Footer-->

<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/uniform.js"></script>
{% block js %}{% endblock %}
</body>
</html>