{% extends "base.html" %}
{% load i18n gravatar%}
{% block title %} {% trans "Home"%}  {% endblock %}

{% block content %}
<style>
.gravatar {border: 1px solid #D0D0D0;padding: 2px;float: left;margin-right: 10px;}
.events li{height: 50px;width: 30%;float: left;}
.events li p{margin-top: 10px;}
</style>
<div class="tips">>> [11.18]重置了注册和登录的app，现在需要邮箱激活；没有收到邮件请查看[垃圾邮箱]或是<a href="mailto:jp.chenyang@gmail.com">联系我</a></div>
<table id="step">
	<tr>
		<td><span class="stepnum">0</span><span class="stepfont">Please! Read Demo</span></td>
		<td><span class="stepnum">1</span><span class="stepfont">Create Your Role</span></td>
		<td><span class="stepnum">2</span><span class="stepfont">Write Your Story</span></td>
	</tr>
	<tr>
		<td>
			<a name="1" href="{%url show_story 5 %}"><img src="{{STATIC_URL}}images/step3.jpg" height="160" width="260" alt="Share Story"/></a>
			<p>不知道这个网站是干嘛的？请先浏览演示剧本。</p>
		</td>
		<td>
			<a name="1" href="{%url role_list %}"><img src="{{STATIC_URL}}images/step1.jpg" height="160" width="260" alt="Creat Role" /></a>
			<p>你可以使用系统提供的默认素材，创建你自己喜欢的人物，也可以直接上传。</p>
		</td>
		<td>
			<a href="{%url story_list %}"><img src="{{STATIC_URL}}images/step2.jpg" height="160" width="260" alt="Create Story"/></a>
			<p>创建人物之后，你将在故事中让自己人物登场，给她们添加对白和动作。</p>
		</td>
	</tr>
</table>

{% if not user.is_authenticated %}
<div class="follow unlogin">
	<span>You can make a online Galgame by yourself. But first:</span>
	<ul>
		<li>
			<a href="{%url userena_signup %}"><img src="{{STATIC_URL}}images/icon/register.png" width="100" alt="Register" /></a>
			<h2><a href="{%url userena_signup %}">Register</a></h2>
			<p> 在本站注册一个账号，只需要填写邮箱地址，用户名和密码。 </p>
		</li>
		<li>
			<a href="{%url userena_signin %}"><img src="{{STATIC_URL}}images/icon/login.png" width="100" alt="Login"/></a>
			<h2><a href="{%url userena_signin %}">Login</a></h2>
			<p> 如果您已经注册，请使用注册的账号登陆，您也可以使用OpenID来进行登陆。 </p>
		</li>
	</ul>
	<div class="clear"></div>
</div>
{% endif %}

<div class="follow events">
	<img src="{{STATIC_URL}}images/icon/logo.png" alt="Icon" /> <span>Lastest Update</span>
        <ul>
        {% for e in events %}
            {% if e.content_type_id == 11 %}
            <li><div class="gravatar"><img src="{% gravatar_url e.user.email %}" width="40"/></div><br/><a href="/accounts/{{e.user.username}}">{{e.user.username}}</a> 创建了场景 <a href="{%url show_story e.object_id %}">{{e.event}}</a> <br/> <span style="color:#ccc; font-size:12px;font-weight:100;">{{e.created|date:"Y-m-d H:m"}}</a></li>
            {% endif %}
            {% if e.content_type_id == 8 %}
            <li><div class="gravatar"><img src="{% gravatar_url e.user.email %}" width="40"/></div><br/><a href="/accounts/{{e.user.username}}">{{e.user.username}}</a> 创建了角色 <a href="{% url show_role e.object_id %}">{{e.event}}</a> <br/> <span style="color:#ccc; font-size:12px;font-weight:100;">{{e.created|date:"Y-m-d H:m"}}</a></li>
            {% endif %}
            {% if e.content_type_id == 31 %}
            <li><div class="gravatar"><img src="{% gravatar_url e.user.email %}" width="40"/></div><br/><a href="/accounts/{{e.user.username}}">{{e.user.username}}</a> 拥有了自己的封绝   <br/> <span style="color:#ccc; font-size:12px;font-weight:100;">{{e.created|date:"Y-m-d H:m"}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
	<div class="clear"></div>
</div>

<div class="follow">
	<img src="{{STATIC_URL}}images/icon/logo.png" alt="Icon" /> <span>Other thing you can do</span>
	<ul>
		<li><a href="{%url role_list %}">查看其他人的角色</a></li>
		<li><a href="{%url story_list %}">查看其他人的剧本</a></li>
		<li><a href="{% url djiki-page-view '图书馆'  %}">去图书馆找资料</a></li>
		<li><a href="mailto:jp.chenyang@gmail.com">联系管理员</a></li>
	</ul>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" >
$(document).ready(function(){
	$("#step img").mouseenter(function(){
		$(this).parent().parent().css('color','#7BCA1C');
	});
	$("#step img").mouseout(function(){
		$(this).parent().parent().css('color','');
	});
});
</script>
{% endblock %}
