{% extends "base.html" %}

{% block title %}
{% if role_id %}
修改角色 
{% else %}
添加角色 
{% endif %}
{% endblock %}

{% block content %}
<style>
	#hair, #cloth, #eye, #face, #glass, #other1, #other2, #other3 {
		margin-left:30px;
	    width: 267px;
	    height: 400px;
	    position: absolute;
	    background-repeat: no-repeat;
	}
		#cloth {z-index: 3} 
		#hair {z-index: 4}
		#eye {z-index: 8}
		#face {z-index: 10;}

	label { color:red}	
	fieldset {border:1px #ccc solid; width:80%; padding:15px;}
</style>

<!--START: left-nav -->
<div class="sidebar">
	<h2>Role Info</h2>
	{% if role_id %}
	<form id="role_form" action="{%url edit_role role_id %}" method="POST" enctype="multipart/form-data">
	{% else %}
	<form id="role_form" action="{%url add_role %}" method="POST" enctype="multipart/form-data">
	{% endif %}
		{% csrf_token %}
	<ul>
		<li>
			名字:<br/><input type="text" name="rolename" id="rolename" value="{{ role.name }}" class="required"/>
		</li>
		<li>性别:<br/>	
			<input type="radio" name="gender" value="0" {% if role.gender  == '0' %} checked="checked" {% endif %}>女
			<input type="radio" name="gender" value="1" {% if role.gender == '1' %} checked="checked" {% endif %}>男 
			<input type="radio" name="gender" value="2" {% if role.gender == '2' %} checked="checked" {% endif %}>？
		</li>
		<li>
			关系:<br/><input type="text" name="relation" id="relation" style="width:100px" value="{{ role.relation }}" class="required"/>
		</li>
		<li>
			生日:<br/><input type="text" id="birthday" name="birthday" value="{{ role.birthday|safe}}"/>
	
		</li>
		<li>
			资料: <textarea id="resume" name="resume" rows="8">{{role.resume}}</textarea>
		</li>
		<li><input type="file" id="id_role_image" name="role_image"/>
			<span style="color:red">·选择图片上传将会替换在左边设置的角色</span>
		</li>
		<li>
			<input type="hidden" id="profile" name="profile" value="" />
			<p><input type="button" value="提交" onclick="validator_role_from()"/></p>
		</li>
	</ul>
	</form>

</div>
<!--END: left-nav -->
 
 
<div class="con-r">
	<div class="page">
		<div class="conr-title">
			<h2>Role Profile</h2>
		</div>
		<div id="choice_role" style="margin-bottom:15px">
			站位：
				正面1<input type="radio" name="rolepos" value="1" onclick="pos=this.value;change_pos(pos)">
				正面2<input type="radio" name="rolepos" value="2" onclick="pos=this.value;change_pos(pos)">
				正面3<input type="radio" name="rolepos" value="3" onclick="pos=this.value;change_pos(pos)">
				侧面1<input type="radio" name="rolepos" value="4" onclick="pos=this.value;change_pos(pos)">
				侧面2<input type="radio" name="rolepos" value="5" onclick="pos=this.value;change_pos(pos)">
				侧面3<input type="radio" name="rolepos" value="6" onclick="pos=this.value;change_pos(pos)">
		</div>
		<fieldset>
			<legend style="color:#7BCA1C">选择一套服装</legend>
			<div>
			特殊：
			<select name="cloth" onchange="change_role(this.name,this.value,pos)">
			{% for dress in cloth_list %}
				{% if dress.type == 'e' %}
				<option value="{{ dress.id }}"> {{ dress.name }}</option>
				{% endif %}
			{% endfor %}
			</select>
			
			校服：
			<select name="cloth" onchange="change_role(this.name,this.value,pos)">
			{% for dress in cloth_list %}
				{% if dress.type == 's' %}
				<option value="{{ dress.id }}"> {{ dress.name }}</option>
				{% endif %}
			{% endfor %}
			</select>
	
			</select>
			</div>
		</fieldset>

		<fieldset>
			<legend style="color:#7BCA1C">选择一种发型</legend>
			<div>
				短发：
				<select name="hair" onchange="change_role(this.name,this.value,pos)">
			{% for dress in hair_list %}
				{% if dress.type == 's' %}
				<option value="{{ dress.id }}"> {{ dress.name }}</option>
				{% endif %}
			{% endfor %}
				</select>
				
				长发：
				<select name="hair" onchange="change_role(this.name,this.value,pos)">
			{% for dress in hair_list %}
				{% if dress.type == 'l' %}
				<option value="{{ dress.id }}"> {{ dress.name }}</option>
				{% endif %}
			{% endfor %}
				</select>
			</div>
		</fieldset>
		
		<div id="role" style="background:url('{{ STATIC_URL }}bgd/mapback.jpg');margin-top:10px;width:500px;height:400px;border:1px solid #ccc;" >
			<div id="hair"></div>
			<div id="eye"></div>
			<div id="face"></div>
			<div id="cloth"></div>
		</div>

	</div>
</div>
{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){		
		$("#role_form").validate({
			messages :{
				birthday : {dateISO:'请使用YYYY-mm-dd的格式'}},
			rules: {
    			birthday: {
			      dateISO: true
    			}
			}
		});
	});
		
	var role_dom = ['cloth', 'hair', 'face', 'eye'];
	var role_image = "{{role.image}}";
	var role_profile = [{{ role.profile|safe}}];
	var pos = 1;
	
	$(document).ready( function(){
		
		if (role_image)
		{
			//直接显示用户上传的角色图片
			//$('#cloth').css('background','{{role.images}}');//src("{{role.image");
		}
		
		{% if role_id %}
		else
		{
			//从数据库读取角色Profile，并显示角色
			for (var i in role_dom)
			{
				$("#"+role_dom[i]).attr("style",role_profile[i]);
				pos = $("#"+role_dom[i]).attr("style").split('.gif')[0].split('/')[5];
			}	
		}
		
		$('fieldset').show(); 
		{% endif %}
		
		change_pos(pos);
		$("input, textarea, select, button").uniform();
	});
	
	function validator_role_from()
	{
		var json = [];
		var profile = document.getElementById('profile');
		for (var i in role_dom)
		{
			json[i] = '"'+document.getElementById(role_dom[i]).getAttribute('style')+'"';
		}
		profile.value = json;
		document.getElementById('role_form').submit();
	}
	
	function change_role(name, value, pos)
	{
		var el = document.getElementById(name);
		el.setAttribute("style","background:url('{{ STATIC_URL }}role/"+name+"/"+value+"/"+pos+".gif')");
	}

	function change_pos(pos)
	{
		if (typeof($("#cloth").attr('style')) != 'undefined')
		{
			//在修改站位时保存原来选择的衣服和头发
			var cloth_value = $("#cloth").attr('style').split('.gif')[0].split('/')[4];
			var hair_value = $("#hair").attr('style').split('.gif')[0].split('/')[4];
			$("#cloth").attr("style","background:url('{{ STATIC_URL }}role/cloth/"+cloth_value+"/"+pos+".gif')");
			$("#hair").attr("style","background:url('{{ STATIC_URL }}role/hair/"+hair_value+"/"+pos+".gif')");
			$("#face").attr("style","background:url('{{ STATIC_URL }}role/face/1/"+pos+".gif')");
			$("#eye").attr("style","background:url('{{ STATIC_URL }}role/eye/1/"+pos+".gif')");
		}
		else
		{
	        for (var i in role_dom)
			{
				var el = document.getElementById(role_dom[i]);
				el.setAttribute("style","background:url('{{ STATIC_URL }}role/"+(role_dom[i])+"/1/"+pos+".gif')");
			}
			$('fieldset').fadeIn('slow');
		}
	}
	

</script>
{% endblock %}
