{% extends "base.html" %}
{% load i18n %}

{% block breadcrumb %}
    {% if user.is_authenticated %}
		<div class="crumb2">
  			<p> {% trans "Action" %}：
                <a href="{% url userena_profile_detail user.username %}">{% trans "View profile" %}</a> |
                <a href="{% url userena_profile_edit user.username %}">{% trans "Edit details" %}</a> | 
                <a href="{% url userena_password_change user.username %}">{% trans "Change password" %} </a> |
                <a href="{% url userena_email_change user.username %}">{% trans "Change email" %} </a>
            </p>
		</div>
        <div class="clear"></div>
    {% endif %}
{% endblock %}
