{% extends "base.html" %}
{% load i18n %}

{% block style %}
<style>
.user_level {padding:15px 0px;}
.user_level li{margin:8px 0px;}
.user_level label {width:50px;float:left;}
.profile_ul { border-bottom:1px dashed #7BCA1C;padding:15px 0px;}
.profile_ul li {margin:8px 0px;}
.profile_ul label {width:50px;float:left;}
.colorTip{left:50%;top:-30px;}
#catact_form {display:none;}
fieldset {line-height:35px;}
label {float:left; width:100px;}
</style>
{% endblock %}

{% block breadcrumb %}
    {% if user.is_authenticated %}
		<div class="crumb2">
  			<p> {% trans "Action" %}：
                <a href="{% url userena_profile_detail user.username %}">{% trans "View profile" %}</a> |
                <a href="{% url userena_profile_edit user.username %}">{% trans "Edit details" %}</a> | 
                <a href="{% url userena_password_change user.username %}">{% trans "Change password" %} </a> |
                <a href="{% url userena_email_change user.username %}">{% trans "Change email" %} </a>
            </p>
		</div>
        <div class="clear"></div>
    {% endif %}
{% endblock %}
