  <!--START: sidebar -->
  <div class="sidebar" style="float:left;">
   <div class="userdata">
    <div class="user-avatar"> 
        <span class="avatar"><img src="{{ profile.get_mugshot_url }}" alt="Avatar" /></span>
        <p style="font-size:14px; font-weight:bold;">{{user.username}}</p>
    </div>
    <div id="details">
    <div class="user_level">
     <h4>经验</h4>
     <ul>
      <li><label>战斗力</label><div id="user_level_zdl"></div></li>
      <li><label>智力</label><div id="user_level_zl"></div></li>
      <li><label>魅力</label><div id="user_level_ml"></div></li>
     </ul>
    </div>
    <div class="user_level">
     <h4>称号</h4>
     <ul>
      <li>战斗力只有5</li>
     </ul>
    </div>
   </div>
  </div>
 </div>
  <!--END: sidebar --> 